.header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    min-width:608px;
    background: #565656;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'Akaya Kanadaka', sans-serif;
}


.user{
    position: absolute;
    right:0;
    top: 0;
    /*user-select:none;*/
    margin: 7px 20px 7px 0;
    height: 43.5px;
    width: 43.5px;
    background: rgba(213, 205, 112, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    transform:translateX(0%);
    border: 3px solid black;
}

.company{
    /*position: absolute;*/
    font-size: 32px;
    /*align-items: center;*/
}

.sidebar{
 position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    margin:10px 0px 10px 20px ;
}